*{
    margin:0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.navslide1{
    background-color: #1585f8;
    color: white;
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.navslide2{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 70px;
}
.tree-logo{
    display: flex;
    justify-content: space-between;
}
.tree-logo img{
    height: 30px;
    width: 30px;
}
.tree-logo a{
    font-family:"Gotham Book", Helvetica, Arial, sans-serif ;
    color:#3b3b3b;
    text-decoration: none;
    font-size:20px;
    font-weight: 500;

}
.unordered ul{
    list-style-type: none;
    display: flex;

}



.nav-dropdown {
    display: none;
}
/* .nav-dropdown-plans {
    display: inline;
} */


.list1, .list2, .list3, .list4, .list5 {
    position: relative;
    margin: 20px 0px;
    text-decoration: none;
    
}
.list1:hover .nav-dropdown {
        display:flex;
        flex-direction: column;
        align-items: start;
        position: absolute;
        background-color: #fff;
        border: 1px;
        top: 30px;
        left: 20px;
        cursor: pointer;
        width: 130px;
        padding-top: 20px;
        padding-left: 20px;
        border: 2px solid lightgray;
}
.list1:hover .nav-dropdown a{
    text-decoration: none;
    margin-bottom: 20px;
    color:black;

}
.list2:hover .nav-dropdown {
    display:flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    background-color: #fff;
    border: 1px;
    top: 30px;
    left: 20px;
    cursor: pointer;
    width: 110px;
    padding-top: 20px;
    padding-left: 20px;
    border: 2px solid lightgray;
    transition-delay:1s;
}
.list2:hover .nav-dropdown a{
text-decoration: none;
margin-bottom: 20px;
color:black;

}.list3:hover .nav-dropdown {
    display:flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    background-color: #fff;
    border: 1px;
    top: 30px;
    left: 20px;
    cursor: pointer;
    width: 230px;
    padding-top: 20px;
    padding-left: 20px;
    border: 2px solid lightgray;
    transition-delay:1s;
}
.list3:hover .nav-dropdown a{
text-decoration: none;
margin-bottom: 20px;
color:black;

}.list4:hover .nav-dropdown {
    display:flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    background-color: #fff;
    border: 1px;
    top: 30px;
    left: 20px;
    cursor: pointer;
    width: 140px;
    padding-top: 20px;
    padding-left: 20px;
    border: 2px solid lightgray;
    transition-delay:1s;
}
.list4:hover .nav-dropdown a{
text-decoration: none;
margin-bottom: 20px;
color:black;

}.list5:hover .nav-dropdown {
    display:flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    background-color: #fff;
    border: 1px;
    top: 30px;
    left: 20px;
    cursor: pointer;
    width: 180px;
    padding-top: 20px;
    padding-left: 20px;
    border: 2px solid lightgray;
    transition-delay:1s;
}
.list5:hover .nav-dropdown a{
text-decoration: none;
margin-bottom: 20px;
color:black;

}.list6:hover .nav-dropdown {
    display:flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    background-color: #fff;
    border: 1px;
    top: 30px;
    left: 20px;
    cursor: pointer;
    width: 130px;
    padding-top: 20px;
    padding-left: 20px;
    border: 2px solid lightgray;
    transition-delay:1s;
}
.list6:hover .nav-dropdown a{
text-decoration: none;
margin-bottom: 20px;
color:black;
}
.slide{
    display: flex;
    align-items: center;
 }
 .tree-logo a, img{
    margin: 10px;

 }
.unordered{
    margin: 20px 20px;
}
.btn-menu{
    margin: 20px 20px;
    text-decoration: none;
    color:#576366;
    background-color: #fff;
}

.sign{
    width: 300px;
    display:flex;
    align-items: center;
    /* justify-content: space-around; */
}
.sign button{
    margin-left: 35px;

}
#b1{
    border: none;
    background-color: white;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    letter-spacing: 1px;
}
#b2{
    background-color: #008298;
    font-size: 13px;
    font-family: Helvetica, sans-serif;
    color: white;
    border:none;
    border-radius: 5px;
    height: 30px;
    width:80px;
}
#b1:hover{
    cursor: pointer;
    color:#326e99;
}
#b2:hover{
    cursor: pointer;
    background-color:#387bab;
    color:white;

}
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

a {
  text-decoration: none;
}

body {
  /* width: 100vw; */
  background-color: #edeff0;
  overflow-x: hidden;
}

.pd-20 {
  padding: 20px;
}

.site-contant {
  max-width: 1260px;
}

.site-contant {
  margin: 0 auto;
}

/* Logi */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://ecs-static.teamtreehouse.com/assets/views/marketing/shared/community-blue-gradient-99a5eecca2ac084f15533a27c54102a1a8799ed5f8ba1d96fe1114f72724f16f.webp);
  min-height: 200px;
  padding: 20px 20px;
  background-size: 100%;
  margin: 0 auto;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
}

.img-ban {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 300px;
  padding: 10px 10px;
}

.content1 {
  display: flex;
  padding: 20px;
}

.bnt {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  background-color: #f6d064;
  width: 202px;
  height: 39px;
  font-size: 16px;
  line-height: 40px;
  margin-top: 5px;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  font-weight: inherit;
}

.hf {
  font-size: 20px;
  font-weight: 500;
}

.gf {
  font-weight: 500;
  margin-bottom: 15px;
}
.des p{
    margin-bottom: 30px;
}
.des h2{
    margin-bottom: 10px;
}
.

/* Logi */

/* KK */

.qa-section {
  width: 100%;
  background-color: #fff;
}

.qa-container {
  padding: 30px;
}

.q-section {
  max-width: 1140px;
  color: #576366;
  font-size: 14px;
  line-height: 24px;
}

.profile-img img {
  aspect-ratio: 1;
  width: 36px;
  /* border: 0px solid red; */
  border-radius: 50%;
}

/* .profile-img:hover img {
  border: 4px solid red;
} */

.qa-title-container {
  align-items: center;
  height: 70px;
  padding-left: 30px;
  background: #f9fafa;
  border-radius: 4px 4px 0 0;
  border-top: 4px solid #3659a2;
  border-bottom: 1px solid #eceded;
}

.qa-title .qa-link {
  color: #29447c;
  font-size: 13px;
}
.q {
  padding-left: 70px;
  border-bottom: 1px solid #eceded;
}

.q-title {
  color: #384047;
}

.q-title h1 {
  margin-bottom: 24px;
}
.q-details p {
  margin-bottom: 15px;
}

.q-command-card {
  padding: 20px 0;
}

/* KK */
